body {
    font-family: sans-serif;
}
header{
    background-color: #0776A0;
    margin-top: 25px;
    margin-right: 30px;
    margin-left: 15px;
    margin-botton: 10px;
     
}
.h1{
    border-top: 3px solid black;
    border-bottom:3px solid black ;
    padding-top: 20px;
    padding-bottom: 15 px;

}
ul{
    margin-left: 15px;
    list-style:url("https://learn.algoritmika.org/uploads/2021/01/Arrow%201_0_1611261359.svg");
}
footer{
    background-color: #0776A0;
}
a{
    background-color: #FFB600;
}
p{
    color: red
}
h2{
    color: red
}



